@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.text-primary{
    color: #FF6363;
  }
  .text-secondary-100{
    color: #E2E2D5;
  }
  .text-secondary-200{
    color: #888883;
  }
  .font-nunito{
    font-family: 'Nunito Sans', sans-serif;
  }